In [44]:
import pandas

df = pandas.read_csv("apps.csv", encoding='iso-8859-1', 
                     error_bad_lines=False, 
                     low_memory=False)

b'Skipping line 41088: expected 11 fields, saw 12\nSkipping line 304239: expected 11 fields, saw 12\n'

In [45]:
pandas.set_option('max_columns', 8, 'max_rows', 10)
df.head()

,name,datePublished,numDownloadsMin,fileSize,...,softwareVersion,ratingCount,dateCrawled,url
0,FSP Power App,2. Oktober 2013,500,12M,...,1.0.6,31,2014-10-05 00:00:00,https://play.google.com/store/apps/details?id=...
1,FSP Autofahrer-App,5. April 2012,500,"1,3M",...,1.0.4,11,2014-10-05 00:00:00,https://play.google.com/store/apps/details?id=...
2,Art-picnic FSP,25. Juli 2014,500,"2,7M",...,1.5,18,2014-10-05 00:00:00,https://play.google.com/store/apps/details?id=...
3,Tennis F.S.P,19. Juli 2013,1,"4,5M",...,1.1,0,2014-10-05 00:00:00,https://play.google.com/store/apps/details?id=...
4,Super Piano FREE HD,19. Januar 2014,100000,"4,1M",...,5.9,1545,2014-10-05 00:00:00,https://play.google.com/store/apps/details?id=...

In [46]:
df01 = df[['name','numDownloadsMin','fileSize','price','aggregateRating','ratingCount']]
df01.columns = ['app','numDownloads','size','price','aggregateRating','ratingCount']
df01

,app,numDownloads,size,price,aggregateRating,ratingCount
0,FSP Power App,500,12M,0.00,3.9677419662475586,31
1,FSP Autofahrer-App,500,"1,3M",0.00,3.8181817531585693,11
2,Art-picnic FSP,500,"2,7M",0.00,4.722222328186035,18
3,Tennis F.S.P,1,"4,5M",0.00,0,0
4,Super Piano FREE HD,100000,"4,1M",0.00,3.9825241565704346,1545
...,...,...,...,...,...,...
403903,one.com,100,14M,1.00,1.5,2
403904,Fahrtenbuch,1000,13M,3.20,3.7555556297302246,45
403905,TopAdressen,100,12M,5.49,3,1
403906,Dictate + Connect (Dictamus),500,13M,9.98,3.2857143878936768,35
403907,top Unkraut 2014,500,45M,14.49,4.111111164093018,9

In [47]:
df01.dtypes.value_counts()

object     5
float64    1
dtype: int64

In [48]:
df01.drop([126036,141410,259956,402971,403239,403531,403535,403590,403594,403616], inplace=True)
df01.reset_index()
df01.head()

,app,numDownloads,size,price,aggregateRating,ratingCount
0,FSP Power App,500,12M,0.0,3.9677419662475586,31
1,FSP Autofahrer-App,500,"1,3M",0.0,3.8181817531585693,11
2,Art-picnic FSP,500,"2,7M",0.0,4.722222328186035,18
3,Tennis F.S.P,1,"4,5M",0.0,0,0
4,Super Piano FREE HD,100000,"4,1M",0.0,3.9825241565704346,1545

In [49]:
df01.price = df01.price.astype(float)
df01.ratingCount = df01.ratingCount.astype(int)
df01.numDownloads = df01.numDownloads.astype(int)
df01.aggregateRating = df01.aggregateRating.astype(float)

In [50]:
df01.dtypes.value_counts()

int64      2
float64    2
object     2
dtype: int64

In [51]:
df01.dtypes

app                 object
numDownloads         int64
size                object
price              float64
aggregateRating    float64
ratingCount          int64
dtype: object

In [ ]:
df01['size'] = df01['size'].str.replace(',', '.')
df01['size'] = df01['size'].str.replace('M', '')

In [53]:
df01

,app,numDownloads,size,price,aggregateRating,ratingCount
0,FSP Power App,500,12,0.00,3.967742,31
1,FSP Autofahrer-App,500,1.3,0.00,3.818182,11
2,Art-picnic FSP,500,2.7,0.00,4.722222,18
3,Tennis F.S.P,1,4.5,0.00,0.000000,0
4,Super Piano FREE HD,100000,4.1,0.00,3.982524,1545
...,...,...,...,...,...,...
403903,one.com,100,14,1.00,1.500000,2
403904,Fahrtenbuch,1000,13,3.20,3.755556,45
403905,TopAdressen,100,12,5.49,3.000000,1
403906,Dictate + Connect (Dictamus),500,13,9.98,3.285714,35
403907,top Unkraut 2014,500,45,14.49,4.111111,9

In [54]:
df01.aggregateRating = round(df01.aggregateRating,2)
app = df01
app

,app,numDownloads,size,price,aggregateRating,ratingCount
0,FSP Power App,500,12,0.00,3.97,31
1,FSP Autofahrer-App,500,1.3,0.00,3.82,11
2,Art-picnic FSP,500,2.7,0.00,4.72,18
3,Tennis F.S.P,1,4.5,0.00,0.00,0
4,Super Piano FREE HD,100000,4.1,0.00,3.98,1545
...,...,...,...,...,...,...
403903,one.com,100,14,1.00,1.50,2
403904,Fahrtenbuch,1000,13,3.20,3.76,45
403905,TopAdressen,100,12,5.49,3.00,1
403906,Dictate + Connect (Dictamus),500,13,9.98,3.29,35
403907,top Unkraut 2014,500,45,14.49,4.11,9

In [59]:
app.describe().T

,count,mean,std,min,25%,50%,75%,max
numDownloads,403898.0,116205.960242,3.986314e+06,0.0,100.00,1000.0,10000.00,1.000000e+09
price,403898.0,0.444614,2.911938e+00,0.0,0.00,0.0,0.00,1.990000e+02
aggregateRating,403898.0,3.451070,1.579695e+00,0.0,3.31,4.0,4.44,5.000000e+00
ratingCount,403898.0,2669.691207,7.726506e+04,0.0,2.00,16.0,161.00,2.171153e+07

In [76]:
valores = app.values
colunas = app.columns
indices = app.index
downloads = app.numDownloads.values
preco = app.price.values

In [71]:
valores

array([['FSP Power App', 500, '12', 0.0, 3.97, 31],
       ['FSP Autofahrer-App', 500, '1.3', 0.0, 3.82, 11],
       ['Art-picnic FSP', 500, '2.7', 0.0, 4.72, 18],
       ...,
       ['TopAdressen', 100, '12', 5.49, 3.0, 1],
       ['Dictate + Connect (Dictamus)', 500, '13', 9.98, 3.29, 35],
       ['top Unkraut 2014', 500, '45', 14.49, 4.11, 9]], dtype=object)

In [73]:
colunas

Index(['app', 'numDownloads', 'size', 'price', 'aggregateRating',
       'ratingCount'],
      dtype='object')

In [77]:
indices

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            403898, 403899, 403900, 403901, 403902, 403903, 403904, 403905,
            403906, 403907],
           dtype='int64', length=403898)

In [78]:
downloads

array([500, 500, 500, ..., 100, 500, 500])

In [79]:
preco

array([ 0.  ,  0.  ,  0.  , ...,  5.49,  9.98, 14.49])

In [55]:
app.get_dtype_counts()

/home/romerito/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

float64    2
int64      2
object     2
dtype: int64

app.to_csv("appStore.csv", index=False)

In [56]:
app.app.value_counts(normalize=True)

????                              0.005764
?????                             0.004284
??????                            0.004154
???????                           0.002827
????????                          0.002321
                                    ...
Countdown Maths Game              0.000003
SPINNER ???                       0.000003
Block Warfare: Medieval (FREE)    0.000003
Download and Unzip                0.000003
Leder-Tastatur                    0.000003
Name: app, Length: 370537, dtype: float64

In [57]:
app.app.notnull()

0         True
1         True
2         True
3         True
4         True
          ...
403903    True
403904    True
403905    True
403906    True
403907    True
Name: app, Length: 403898, dtype: bool

In [ ]:
'quantas linhas e colunas temos?'
print(app.shape)

In [ ]:
app.drop('index', axis=0, inplace=True)

In [ ]:
app

In [58]:
app[['app']].sort_values(by='app',ascending=True)

                                  app
151271  !! Put Him In The Doghouse !!
232090     !!!offline (Lichtschranke)
316098                   !Rendezvous!
69924                         !Share+
331993                     !ShareFree
...                               ...
403495                            NaN
403515                            NaN
403519                            NaN
403521                            NaN
403529                            NaN

[403898 rows x 1 columns]

In [80]:
app.to_csv("appsnovos.csv", index=False)

In [81]:
!head appsnovos.csv

app,numDownloads,size,price,aggregateRating,ratingCount
FSP Power App,500,12,0.0,3.97,31
FSP Autofahrer-App,500,1.3,0.0,3.82,11
Art-picnic FSP,500,2.7,0.0,4.72,18
Tennis F.S.P,1,4.5,0.0,0.0,0
Super Piano FREE HD,100000,4.1,0.0,3.98,1545
DMC-FZ1000 Tutorial,100,8.2,0.0,1.0,2
Beach Buggy Racing,1000000,75,0.0,4.25,72359
LEGO® Juniors Create &amp; Cruise,10000000,37,0.0,3.89,134796
ABC School,1000,391k,0.0,4.11,19